<div class="container">
    <form class="form-group" novalidate >
        <div class="row">
            <div class="col-sm-12" style="text-align: center">
                <p>FILTER</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label>Start Date</label>
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="filter.startingDate"
                           is-open="popup2.opened" ng-required="true" close-text="Close" datepicker-options="options2"
                           ng-change="updateDatePicker3()" />
                    <span class="input-group-btn">
                        <i class="fas fa-calendar-alt input-group-text" ng-click="open2()"></i>
                    </span>
                </p>
            </div>
            <div class="col-sm-2">
                <label>End Date</label>
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="filter.endingDate"
                           is-open="popup3.opened" ng-required="true" close-text="Close" datepicker-options="options3"
                           ng-change="updateDatePicker2()" />
                    <span class="input-group-btn">
                        <i class="fas fa-calendar-alt input-group-text" ng-click="open3()"></i>
                    </span>
                </p>
            </div>
        </div>
    </form>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="employee-filters">
                <div class="card container employee-details">
                    <h4>Employee Details</h4>
                    <div class="row employee-info">
                        <div class="col-sm-5">Name:</div>
                        <div class="col-sm-7">{{userDetails.name}}</div>
                    </div>
                    <div class="row employee-info">
                        <div class="col-sm-5">Code:</div>
                        <div class="col-sm-7">{{userDetails.code}}</div>
                    </div>
                    <div class="row employee-info">
                        <div class="col-sm-5">Designation:</div>
                        <div class="col-sm-7">{{userDetails.designationId.name}}</div>
                    </div>
                    <div class="row employee-info">
                        <div class="col-sm-5">Shift:</div>
                        <div class="col-sm-7">{{userDetails.shiftId.shiftName}}</div>
                    </div>
                    <div class="row employee-info">
                        <div class="col-sm-5">Address:</div>
                        <div class="col-sm-7">{{userDetails.address}}</div>
                    </div>
                    <div ng-if="!isAdmin" class="row employee-info" style="padding: 12px">
                        <button class="btn btn-primary" ng-click="open()">
                            Mark
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="employee-list">
                <div class="card employee-details">
                    <table class="table table-borderless">
                        <thead>
                            <tr style="text-align: center">
                                <th scope="col">#</th>
                                <th scope="col" ng-click="sortBy('startingDate')" style="cursor: pointer">
                                    Date
                                    <span class="sortorder" ng-show="propertyName === 'startingDate'" ng-class="{reverse: reverse}"></span>
                                </th>
                                <th scope="col" ng-click="sortBy('startingTime')" style="cursor: pointer">
                                    Check in
                                    <span class="sortorder" ng-show="propertyName === 'startingTime'" ng-class="{reverse: reverse}"></span>
                                </th>
                                <th scope="col" ng-click="sortBy('endingTime')" style="cursor: pointer">
                                    Check out
                                    <span class="sortorder" ng-show="propertyName === 'endingTime'" ng-class="{reverse: reverse}"></span>
                                </th>
                                <th ng-if="isAdmin" scope="col" ng-click="sortBy('amount')" style="cursor: pointer">
                                    Amount
                                    <span class="sortorder" ng-show="propertyName === 'amount'" ng-class="{reverse: reverse}"></span>
                                </th>
                                <th scope="col">Approved</th>
                                <th ng-if="isAdmin" scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="attendance in attendanceList | filter: { name: nameFilter, code: codeFilter,
                                        deisngationName: designationFilter, shiftName: shiftFilter} : startsWith | orderBy:propertyName: reverse" style="text-align: center">
                                <th class="table-item" scope="row">{{$index + 1}}.</th>
                                <td class="table-item">{{formatDate(attendance.startingDate)}}</td>
                                <td class="table-item" style="color: forestgreen">{{formatTime(attendance.startingTime)}}</td>
                                <td class="table-item" style="color: red">{{formatTime(attendance.endingTime)}}</td>
                                <td ng-if="isAdmin" class="table-item">{{attendance.amount}}</td>
                                <td ng-if="isAdmin" class="table-item" style="text-align: center">
                                    <input type="checkbox" ng-model="attendance.isApproved" ng-disabled="attendance.isApproved">
                                </td>
                                <td ng-if="!isAdmin&&attendance.isApproved">
                                    <i class="fas fa-check" style="color: forestgreen"></i>
                                </td>
                                <td ng-if="!isAdmin&&!attendance.isApproved">
                                    <i class="fas fa-times" style="color: red"></i>
                                </td>
                                <!--<td ng-if="isAdmin&&!attendance.isApproved" class="table-item"></td>-->
                                <td ng-if="isAdmin" class="table-item" style="text-align: center"><i ng-click="deleteAttendance(attendance._id)" class="far fa-trash-alt delete-icon"></i></td>
                            </tr>
                        </tbody>
                    </table>
                    <ul uib-pagination total-items="pagination.totalItems" ng-model="pagination.currentPage" ng-change="pageChanged()"></ul>
                </div>
                <div ng-if="isAdmin">
                    <br>
                    <button class="btn btn-primary float-right" ng-click="approveAttendance()">
                        Approve
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="markAttendance.html">
    <div class="modal-body" id="modal-body">
        <form name="myForm" novalidate class="from-group component-form">
            <div class="row">
                <div class="col-sm-12" class="form-header">
                    <h5>Mark Attendance</h5>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <label>Date</label>
                    <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="attendance.startingDate"
                               is-open="popup1.opened" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <i class="fas fa-calendar-alt input-group-text" ng-click="open1()"></i>
                        </span>
                    </p>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label>Starting Time</label>
                    <input type="time" name="attendance.startingTime" class="form-control shift-time" required
                           ng-model="attendance.startingTime">
                    <hr>
                </div>
                <div class="col-sm-12">
                    <label>Shift ending Time</label>
                    <input type="time" name="attendance.endingTime" class="form-control shift-time" required
                           ng-model="attendance.endingTime">
                    <hr>
                </div>
                <div class="col-sm-12 pull-right">
                    <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="markAttendance()">Mark</button>
                    <button class="btn btn-danger" ng-click="cancelUpdation()">cancel</button>
                </div>
            </div>
        </form>
    </div>
</script>