<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <p>FILTER</p>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <input type="text" >
            </div>
            
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="employee-filters">
                <div class="card container employee-details">
                    <h4>Employee Details</h4>
                    <div class="row employee-info">
                        <div class="col-sm-5">Name:</div>
                        <div class="col-sm-7">{{userDetails.name}}</div>
                    </div>
                    <div class="row employee-info">
                        <div class="col-sm-5">Code:</div>
                        <div class="col-sm-7">{{userDetails.code}}</div>
                    </div>
                    <div class="row employee-info">
                        <div class="col-sm-5">Designation:</div>
                        <div class="col-sm-7">{{userDetails.designationId.name}}</div>
                    </div>
                    <div class="row employee-info">
                        <div class="col-sm-5">Shift:</div>
                        <div class="col-sm-7">{{userDetails.shiftId.shiftName}}</div>
                    </div>
                    <div class="row employee-info">
                        <div class="col-sm-5">Address:</div>
                        <div class="col-sm-7">{{userDetails.address}}</div>
                    </div>
                    <div ng-if="!isAdmin" class="row employee-info" style="padding: 12px">
                        <button class="btn btn-primary" ng-click="open()">
                            Mark
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="employee-list">
                <div class="card employee-details">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Date</th>
                                <th scope="col">Check in</th>
                                <th scope="col">Check out</th>
                                <th ng-if="isAdmin" scope="col">Amount</th>
                                <th ng-if="isAdmin" scope="col">Approved</th>
                                <th ng-if="isAdmin" scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="attendance in attendanceList | filter: { name: nameFilter, code: codeFilter,
                                        deisngationName: designationFilter, shiftName: shiftFilter} : startsWith">
                                <th class="table-item" scope="row">{{$index + 1}}.</th>
                                <td class="table-item">{{formatDate(attendance.startingDate)}}</td>
                                <td class="table-item" style="color: forestgreen">{{formatTime(attendance.startingTime)}}</td>
                                <td class="table-item" style="color: red">{{formatTime(attendance.endingTime)}}</td>
                                <td ng-if="isAdmin" class="table-item">{{attendance.amount}}</td>
                                <td ng-if="isAdmin" class="table-item" style="text-align: center">
                                    <input type="checkbox" ng-model="attendance.isApproved">
                                </td>
                                <!--<td ng-if="isAdmin&&!attendance.isApproved" class="table-item"></td>-->
                                <td ng-if="isAdmin" class="table-item" style="text-align: center"><i ng-click="deleteAttendance(attendance._id)" class="far fa-trash-alt delete-icon"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-if="isAdmin">
                    <br>
                    <button class="btn btn-primary float-right" ng-click="approveAttendance()">
                        Approve
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="markAttendance.html">
    <div class="modal-body" id="modal-body">
        <form name="myForm" novalidate class="from-group component-form">
            <div class="row">
                <div class="col-sm-12" class="form-header">
                    <h5>Mark Attendance</h5>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <label>Date</label>
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="attendance.startingDate"
                               is-open="popup1.opened" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <i class="fas fa-calendar-alt input-group-text" ng-click="open1()"></i>
                        </span>
                    </p>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label>Starting Time</label>
                    <input type="time" name="attendance.startingTime" class="form-control shift-time" required
                           ng-model="attendance.startingTime">
                    <hr>
                </div>
                <div class="col-sm-12">
                    <label>Shift ending Time</label>
                    <input type="time" name="attendance.endingTime" class="form-control shift-time" required
                           ng-model="attendance.endingTime">
                    <hr>
                </div>
                <div class="col-sm-12 pull-right">
                    <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="markAttendance()">Mark</button>
                    <button class="btn btn-danger" ng-click="cancelUpdation()">cancel</button>
                </div>
            </div>
        </form>
    </div>
</script>