<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <form name="myForm" class="form-group card component-form" novalidate>
            <div class="row">
                <div class="col-sm-12" class="form-header">
                    <h5>Login</h5>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <label>Employee code</label>
                    <input name="code" required="" type="text" class="form-control" placeholder="Empoyee Code"
                           ng-model="user.code">
                    <div ng-show="myForm.code.$dirty">
                        <span ng-show="myForm.code.$error.required" style="color: red">Enter code</span>
                    </div>
                    <hr>
                </div>
                <div class="col-sm-12">
                    <label>User Password</label>
                    <input name="password" required="" type="password" class="form-control" placeholder="Password"
                           ng-model="user.password">
                    <div ng-show="myForm.password.$dirty">
                        <span ng-show="myForm.password.$error.required" style="color: red">Enter password</span>
                    </div>
                    <hr>
                </div>
                <div class="col-sm-12">
                    <button class="btn btn-primary" ng-click="login()"ng-disabled="myForm.$invalid">
                        submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>