<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <form name="myForm" class="form-group card component-form" novalidate>
            <div class="row">
                <div class="col-sm-12" class="form-header">
                    <h5>Sign-up</h5>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <label>User Name</label>
                    <input name="userName" required="" type="text" class="form-control" placeholder="User Name"
                           ng-model="user.userName">
                    <div ng-show="myForm.userName.$dirty">
                        <span ng-show="myForm.userName.$error.required" style="color: red">Enter name</span>
                    </div>
                    <hr>
                </div>
                <div class="col-sm-12">
                    <label>User Password</label>
                    <input name="password" required="" type="password" class="form-control" placeholder="Password"
                           ng-model="user.password">
                    <div ng-show="myForm.password.$dirty">
                        <span ng-show="myForm.password.$error.required" style="color: red">Enter password</span>
                    </div>
                    <hr>
                </div>
                <div class="col-sm-12">
                    <div class="form-check-inline">
                        <span style="font-family: Roboto">
                            Is Admin &nbsp;-&nbsp;&nbsp;
                        </span>
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="" ng-model="user.isAdmin">
                        </label>
                    </div>
                    <hr>
                </div>
                <div class="col-sm-12">
                    <button class="btn btn-primary" ng-click="addUser()"ng-disabled="myForm.$invalid">
                        submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>