<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form name="myForm" class="form-group card component-form" novalidate>
                <div class="row">
                    <div class="col-sm-12" class="form-header">
                        <h5>Create Admin</h5>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <label>Admin Email</label>
                        <input name="email" type="email" required class="form-control" placeholder="email" ng-model="admin.email">
                        <div ng-show="myForm.email.$dirty&&myForm.email.$touched">
                            <span ng-show="myForm.email.$error.required" style="color: red">Enter email</span>
                            <span ng-show="!myForm.email.$error.required && myForm.email.$error.email" style="color: red">Wrong Email</span>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-primary" ng-click="sendEmail()"ng-disabled="myForm.$invalid || isDisabled">
                            submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
