<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form name="myForm" class="form-group card component-form" novalidate>
                <div class="row">
                    <div class="col-sm-12" class="form-header">
                        <h5>Update Password</h5>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <label>Create New Password</label>
                        <input name="password" type="password" required class="form-control" placeholder="new password" ng-model="employee.password">
                        <div ng-show="myForm.email.$dirty">
                            <span ng-show="myForm.email.$error.required" style="color: red">Password</span>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-primary" ng-click="updatePassword()"ng-disabled="myForm.$invalid || isDisabled">
                            submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
