<div class="container employee-registration">
    <form name="myForm" novalidate class="from-group card component-form">
        <div class="row">
            <div class="col-sm-12" class="form-header">
                <h5>Employee Registration</h5>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <label>Employee Name</label>
                <input name="employeeName" required type="text" class="form-control" placeholder="Employee Name"  ng-model="employee.name">
                <div ng-show="myForm.employeeName.$dirty">
                    <span ng-show="myForm.employeeName.$error.required" style="color: red">Enter name</span>
                </div>
                <hr>
            </div>
            <div class="col-sm-12">
                <label>Employee Code</label>
                <input name="employeeCode" required type="text" class="form-control" placeholder="Employee Code"  ng-model="employee.code">
                <span ng-show="myForm.employeeCode.$dirty">
                    <span ng-show="myForm.employeeCode.$error.required" style="color: red">Enter code</span>
                </span>
                <hr>
            </div>
            <div class="col-sm-12">
                <label>Select Designation</label>
                <select ng-change="selectDesignationId()" name="designation" class="form-control btn-default" ng-model="employee.designationName">
                    <option value="" selected ng-disabled="true">Select Designation</option>
                    <option ng-repeat="designation in allDesignations" value='{{designation.name}}'>{{designation.name}}</option>
                </select>
                <span ng-show="myForm.designation.$dirty">
                    <span ng-show="myForm.designation.$error.required" style="color: red">Select Designation</span>
                </span>
                <hr>
            </div>
            <div class="col-sm-12">
                <label>Select Shift</label>
                <select ng-change="selectShiftId()" name="shiftName" class="form-control btn-default" ng-model="employee.shiftName" required>
                    <option value="" selected>Select Shift</option>
                    <option ng-repeat="shift in allShifts" value='{{shift.shiftName}}'>{{shift.shiftName}}</option>
                </select>
                <span ng-show="myForm.shiftName.$dirty">
                    <span ng-show="myForm.shiftName.$error.required" style="color: red">Select Shift</span>
                </span>
                <hr>
            </div>
            <div class="col-sm-12">
                <label>Enter Address</label>
                <input name="address" class="form-control" ng-model="employee.address" type="text" required placeholder="Address">
                <span ng-show="myForm.address.$dirty">
                    <span ng-show="myForm.address.$error.required" style="color: red">Enter code</span>
                </span>
                <hr>
            </div>

            <div class="col-sm-12 pull-right">
                <button ng-if="toggleButton=='add'" class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="createEmployee()">Add Component</button>
                <button ng-if="toggleButton!='add'" class="btn btn-danger"  ng-disabled="myForm.$invalid" ng-click="editEmployee()">Update</button>
                <button ng-if="toggleButton!='add'" class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="cancelUpdation()">cancel</button>
            </div>
        </div>
    </form>
</div>

<div class="employee-details">
    <div class="card">
        <table class="table table-borderless">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Emp. Name</th>
                <th scope="col">Emp. Code</th>
                <th scope="col">Emp. Designation</th>
                <th scope="col">Emp. Shift</th>
                <th scope="col">Emp. Address</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="shift in allShifts | filter: {shiftName: nameFilter} : startsWith">
                <th scope="row">{{$index + 1}}.</th>
                <td>{{shift.shiftName | uppercase }}</td>
                <td style="color: green">{{shift.startingTime | date: 'shortTime' }}</td>
                <td style="color: blue">{{shift.endingTime | date: 'shortTime' }}</td>
                <td><i ng-click="editShift(shift)" class="fas fa-pencil-alt edit-icon"></i></td>
                <td><i ng-click="deleteSingleShift(shift)" class="far fa-trash-alt delete-icon"></i></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
